* {
  box-sizing: border-box;
}

body {
  margin: 0%;
}

header {
  width: 500px;
  height: 120px;
  margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
}

h1 {
	font-size: 48px;
}

input {
  width: 250px;
  margin-bottom: 10px;
}

a:focus, a:hover {
	color: #1ed760;
	text-decoration: none;
}

.container {
  padding-bottom: 70px;
}

#author {
  font-size: 15px;
}

#tracks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 40vh;
}

#tracks button {
  text-decoration: underline;
  cursor: pointer;

  background-color: transparent;
  background-repeat: transparent no-repeat;
  border: none;
  outline: none;
  box-shadow: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;

  color: #007bff;
}

@media screen and (max-width: 900px) {
  #tracks {
    display: inline-block;
    max-height: auto;
  }
}

@media screen and (min-width: 1280px) {
  #tracks {
    max-height: 60vh;
  }
}